.fmi_setup_test0,
.fmi_setup_test1,
.fmi_setup_test2 { background-image: url('fmi_setup_test_icons.png'); width: 16px; height: 16px; }

.fmi_setup_test0 { background-position: -0px; }
.fmi_setup_test1 { background-position: -16px; }
.fmi_setup_test2 { background-position: -32px; }
